<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

    {{> base/meta}}

    <link inline rel='stylesheet' href='bundle.css' />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.2/nouislider.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Share Tech Mono">
    {{> base/font}}

</head>

<body>

    {{> base/header 'sticky'}}

    <main id='content'>

        {{> story/intro }}
        {{> story/main }}

    </main>

    {{> base/footer }}


    <script src='{{basepath}}assets/scripts/d3.v6.0.0.min.js'></script>
    <script src='bundle.js?version={{timestamp}}' async></script>
</body>

</html>