<div class='device-container'>
    <div class='device-top'>
        <div class='device-display-container'></div>
    </div>

    <div class='device-middle'>
        <div class='control-panel-container'>
            <div class='panel-left panel panel-component' id='slider'></div>
            <div class='panel-middle panel panel-component'>
                <div class='toggle panel-component'></div>
                <div class='dial panel-component'></div>
            </div>
            <div class='panel-right panel panel-component'></div>
        </div>
    </div>

    <div class='device-bottom'>
        <div class='flashing-light-container panel-component'></div>
        <div class='dropdown-container panel-component'></div>
    </div>


</div>