<div class='device-container'>
    <div class='device-top'>
        <div class='device-display-container'></div>
    </div>

    <div class='device-middle'>
        <div class='control-panel-container'>
            <div id='slider' class='panel-left panel panel-component'>

            </div>
            <div class='panel-middle panel panel-component'>
                <div class='toggle panel-component'>
                    <div class='toggle-top'>
                        <p class='toggle-title'>main power</p>
                    </div>
                    <div class='toggle-middle'>
                        <div class='toggle-switch-background'>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                        </div>
                        <div class='toggle-switch-top'></div>
                    </div>
                    <div class='toggle-bottom'>
                        <span class='toggle-switch-label'>on</span>
                        <span class='toggle-switch-label'>off</span>
                    </div>
                </div>
                <div class='dial panel-component'></div>
            </div>
            <div class='panel-right panel panel-component'>
                <div class='big-button-label'>
                    <p class='big-button-label-text'>do not push</p>
                </div>
                <div class='big-button-container red'>
                    <div class='button-outer red'>
                        <div class='button-inner red'></div>
                    </div>
                </div>
                <div class='big-button-container white'></div>
            </div>
        </div>
    </div>

    <div class='device-bottom'>
        <div class='flashing-light-container panel-component'></div>
        <div class='dropdown-container panel-component'></div>
    </div>


</div>