<div class='intro-para'>
    <p>This is a project about lighting, which gives us the freedom to live our lives outside of the natural window of
        daylight. Specifically, it's about how much work is required to purchase an hour's worth of light, and how cheap
        it is to do so today compared to previous points in history. </p>
    <p>Below, you'll find a machine that lets you work. Instead of working an assembly line or plowing a field, though,
        you'll
        need to follow instruction to make enough money for an hour's worth of light in different historical eras. Let's
        begin!</p>
</div>
<div class='device-container'>
    <div class='completion-cards'></div>

    <div class='power-switch instruction-card active'>
        <p class='instruction'>switch the power on to start working!</p>
    </div>

    <div class='era1'>
        <p class='instruction'>Easy there, tiger! Looks like you've put in the allotted 0.35 seconds to be able to
            afford an hour of light; better take your lunch break!</p>
    </div>


    <div class='device-top'>
        <div class='device-display-container'>
            <div class='lumens-section'>
                <div class='lumens-label'>
                    <p>lumens</p>
                </div>
                <div class='lumens-dials'>
                    <svg class='lumens-dial-2020ad'></svg>
                    <svg class='lumens-dial-1800ad'></svg>
                    <svg class='lumens-dial-4000bc'></svg>
                </div>
            </div>
            <div class='time-section'>
                <div class='time-label'>
                    <p>time</p>
                </div>
                <div class='time-bars'>
                    <div class='time-bar-2020ad time-bar'>
                        <div class='time-bar-background'>
                            <div class='time-bar-foreground time-bar-2020ad'>
                                <p class='time-display time-bar-2020ad'></p>
                            </div>
                        </div>
                    </div>
                    <div class='time-bar-1800ad time-bar'>
                        <div class='time-bar-background'>
                            <div class='time-bar-foreground time-bar-1800ad'>
                                <p class='time-display time-bar-2020ad'></p>
                            </div>
                        </div>
                    </div>
                    <div class='time-bar-4000bc time-bar'>
                        <div class='time-bar-background'>
                            <div class='time-bar-foreground time-bar-4000bc'>
                                <p class='time-display time-bar-2020ad'></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class='device-middle'>
        <div class='control-panel-container'>
            <div class='slider-pad'>
                <div id='slider' class='panel-left panel panel-component'>
                </div>
            </div>
            <div class='panel-middle panel panel-component'>
                <div class='toggle panel-component'>
                    <div class='toggle-top'>
                        <p class='toggle-title'>main power</p>
                    </div>
                    <div class='toggle-middle'>
                        <div class='toggle-switch-background'>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                        </div>
                        <div class='toggle-switch-top'></div>
                    </div>
                    <div class='toggle-bottom'>
                        <span class='toggle-switch-label'>on</span>
                        <span class='toggle-switch-label'>off</span>
                    </div>
                </div>
                <div class='dial-container panel-component'>
                    {{!-- <svg class='svg-dial' width='100%' height='100%'>
                        <img src='assets/images/dial.svg'>
                    </svg> --}}
                </div>
                {{!-- <div class='dial-container panel-component'>
                    <div class='dial-labels'>
                        <div class='dial-section-label char1'>OFF</div>
                        <div class='dial-section-label char2'>10</div>
                        <div class='dial-section-label char3'>20</div>
                        <div class='dial-section-label char4'>30</div>
                        <div class='dial-section-label char5'>40</div>
                        <div class='dial-section-label char6'>50</div>
                        <div class='dial-section-label char7'>60</div>
                    </div>
                    <div class='dial'>
                        <div class='dial-line'></div>
                    </div>
                </div> --}}
            </div>
            <div class='panel-right panel panel-component'>
                <div class='big-button-label'>
                    <p class='big-button-label-text'>do not push</p>
                </div>
                <div class='big-button-container red'>
                    <div class='button-outer red'>
                        <div class='button-inner button-up-shadow red'></div>
                    </div>
                </div>
                <div class='big-button-container white'>
                    <div class='button-outer white'>
                        <div class='button-inner button-up-shadow white'></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class='device-bottom'>
        <div class='flashing-light-container panel-component'>
            <div class='light-row'>
                <div class='light-box-container'>
                    <div class='light-box'>
                        <p class='light-box-title'>cool</p>
                        <div class='light-box-light' data-attribute='light-cool'></div>
                    </div>
                    <div class='light-box'>
                        <p class='light-box-title'>boost</p>
                        <div class='light-box-light' data-attribute='light-boost'></div>
                    </div>
                    <div class='light-box'>
                        <p class='light-box-title'>test</p>
                        <div class='light-box-light' data-attribute='light-test'></div>
                    </div>
                </div>
                <div class='light-charge-box-container'>
                    <div class='light-charge-box'>
                        <div class='light-box'>
                            <p class='light-box-title'>+</p>
                            <div class='light-box-light yellow' data-attribute='light-charge-plus'></div>
                        </div>
                        <div class='light-box'>
                            <p class='light-box-title'>-</p>
                            <div class='light-box-light green' data-attribute='light-charge-minus'></div>
                        </div>

                    </div>
                </div>

                <div class='light-box-container'>
                    <div class='light-box'>
                        <p class='light-box-title'>state</p>
                        <div class='light-box-light' data-attribute='light-state'></div>
                    </div>
                    <div class='light-box'>
                        <p class='light-box-title'>lamp</p>
                        <div class='light-box-light' data-attribute='light-lamp'></div>
                    </div>
                    <div class='light-box'>
                        <p class='light-box-title'>power</p>
                        <div class='light-box-light' data-attribute='light-power'></div>
                    </div>
                </div>

            </div>

            <div class='label-row'>
                <p class='flashing-light-title'>reserve power</p>
            </div>


        </div>

        <div class='dropdown-container panel-component'>
            <div class='dropdown-button'>
                <p class='dropdown-title'>source</p>
                <div class='dropdown-arrow'></div>
            </div>
            <div class='dropdown-button'>
                <p class='dropdown-title'>lumens</p>
                <div class='dropdown-arrow'></div>
            </div>
            <div class='dropdown-button'>
                <p class='dropdown-title'>year</p>
                <div class='dropdown-arrow'></div>
            </div>
        </div>
    </div>

</div>


</div>