<div class='device-container'>
    <div class='device-top'>
        <div class='device-display-container'>
            <div class='needle-screen'></div>
            <div class='needle'></div>
            <div class='needle-labels'></div>
        </div>
    </div>

    <div class='device-middle'>
        <div class='control-panel-container'>
            <div id='slider' class='panel-left panel panel-component'>

            </div>
            <div class='panel-middle panel panel-component'>
                <div class='toggle panel-component'>
                    <div class='toggle-top'>
                        <p class='toggle-title'>main power</p>
                    </div>
                    <div class='toggle-middle'>
                        <div class='toggle-switch-background'>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                            <div class='switch-background'></div>
                        </div>
                        <div class='toggle-switch-top'></div>
                    </div>
                    <div class='toggle-bottom'>
                        <span class='toggle-switch-label'>on</span>
                        <span class='toggle-switch-label'>off</span>
                    </div>
                </div>
                <div class='dial-container panel-component'>
                    <div class='dial-labels'>
                        <div class='dial-section-label char1'>OFF</div>
                        <div class='dial-section-label char2'>10</div>
                        <div class='dial-section-label char3'>20</div>
                        <div class='dial-section-label char4'>30</div>
                        <div class='dial-section-label char5'>40</div>
                        <div class='dial-section-label char6'>50</div>
                        <div class='dial-section-label char7'>60</div>
                    </div>
                    <div class='dial'>
                        <div class='dial-line'></div>
                    </div>
                </div>
            </div>
            <div class='panel-right panel panel-component'>
                <div class='big-button-label'>
                    <p class='big-button-label-text'>do not push</p>
                </div>
                <div class='big-button-container red'>
                    <div class='button-outer red'>
                        <div class='button-inner button-up-shadow red'></div>
                    </div>
                </div>
                <div class='big-button-container white'>
                    <div class='button-outer white'>
                        <div class='button-inner button-up-shadow white'></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class='device-bottom'>
        <div class='flashing-light-container panel-component'>
            <div class='light-row'>
                <div class='light-box-container'>
                    <div class='light-box'>
                        <p class='light-box-title'>cool</p>
                        <div class='light-box-light' data-attribute='light-cool'></div>
                    </div>
                    <div class='light-box'>
                        <p class='light-box-title'>boost</p>
                        <div class='light-box-light' data-attribute='light-boost'></div>
                    </div>
                    <div class='light-box'>
                        <p class='light-box-title'>test</p>
                        <div class='light-box-light' data-attribute='light-test'></div>
                    </div>
                </div>
                <div class='light-charge-box-container'>
                    <div class='light-charge-box'>
                        <div class='light-box'>
                            <p class='light-box-title'>+</p>
                            <div class='light-box-light yellow' data-attribute='light-charge-plus'></div>
                        </div>
                        <div class='light-box'>
                            <p class='light-box-title'>-</p>
                            <div class='light-box-light green' data-attribute='light-charge-minus'></div>
                        </div>

                    </div>
                </div>

                <div class='light-box-container'>
                    <div class='light-box'>
                        <p class='light-box-title'>state</p>
                        <div class='light-box-light' data-attribute='light-state'></div>
                    </div>
                    <div class='light-box'>
                        <p class='light-box-title'>lamp</p>
                        <div class='light-box-light' data-attribute='light-lamp'></div>
                    </div>
                    <div class='light-box'>
                        <p class='light-box-title'>power</p>
                        <div class='light-box-light' data-attribute='light-power'></div>
                    </div>
                </div>

            </div>

            <div class='label-row'>
                <p class='flashing-light-title'>reserve power</p>
            </div>


        </div>

        <div class='dropdown-container panel-component'>
            <div class='dropdown-button'>
                <p class='dropdown-title'>source</p>
                <div class='dropdown-arrow'></div>
            </div>
            <div class='dropdown-button'>
                <p class='dropdown-title'>lumens</p>
                <div class='dropdown-arrow'></div>
            </div>
            <div class='dropdown-button'>
                <p class='dropdown-title'>year</p>
                <div class='dropdown-arrow'></div>
            </div>
        </div>
    </div>

</div>


</div>